# General Configurations
ENVIRONMENT=local

# MySQL Database Settings
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=sgip_db
MYSQL_USER=sgip_user
MYSQL_PASSWORD=sgip_secure_pass
MYSQL_ROOT_PASSWORD=sgip_root_secure_pass

# Redis Cache Settings
REDIS_HOST=cache
REDIS_PORT=6379

# RabbitMQ Queue Settings (Local)
RABBITMQ_HOST=queue
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_QUEUE=patients_notifications

# Azure Service Bus Settings (Optional - Production)
AZURE_SERVICE_BUS_CONNECTION_STRING=
AZURE_SERVICE_BUS_QUEUE_NAME=patients-queue

# Seed Credentials Settings
SEED_ADMIN_PASSWORD=admin123
SEED_DOCTOR_PASSWORD=doctor123

